@import url('https://fonts.googleapis.com/css?family=Pacifico')
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script')

// fonts
$pacifico: 'Pacifico', cursive
$kaushan: 'Kaushan Script', cursive

// colors
$bulma: #26a69a
$d-bulma: #08453c
$grey: #37474f
$rose: #e91e63

h1
    color: $grey


nav ul a
    color: $bulma !important

nav a
    color: $bulma !important

i
    padding-right: 10px

nav .brand-logo
    padding-left: 10px !important

.custom-margin
    margin: 20px 0px

.custom-container
    margin: 200px 0px

.custom-gradient
    background: linear-gradient(rgb(20, 20, 20),rgba(20,20,20, .5))
    z-index: -1

