@import url('https://fonts.googleapis.com/css?family=Pacifico')
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script')

// fonts
$pacifico: 'Pacifico', cursive
$kaushan: 'Kaushan Script', cursive

// colors
$bulma: #00d1b2
$d-bulma: #08453c
$grey: #607d8b

h1
    color: $grey