.article-bd-img
    position: relative
    z-index: -1
    height: 50%
    max-width: 100%
    background:
        // image: linear-gradient(#26a69ada,rgba(20,20,20, .5))
        repeat: no-repeat
        size: cover
        position: center 