@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
h1 {
  color: #37474f; }

nav ul a {
  color: #26a69a !important; }

nav a {
  color: #26a69a !important; }

i {
  padding-right: 10px; }

nav .brand-logo {
  padding-left: 10px !important; }

.custom-margin, .flash-msg {
  margin: 20px 0; }

nav {
  background-color: #37474f !important; }

.flash-msg h5 {
  color: #e91e63; }
